<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Choose a Room</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container room" id="mainContent">
    <form action="/choose-room" method="post">
        <h2>Choose A Room</h2>
          {% for room in rooms %}
        <label>
            <input type="radio" name="room" value="{{ room }}"> {{ room }}
        </label>
          {% endfor %}
          <button type="submit">Select Room</button>
    </form>
</div>


</body>
</html>